{% extends "base.html" %}

{% block content %}

<h2>This is the internal volunteers portal for the Hart County Humane Society</h2

Hart County Humane Society is an all-volunteer organization with no paid employees

Our mission is to make Hart and Franklin Counties "no-kill" counties for dogs and cats.away

We do this through our loc cost Spay/Neuter program, and by our adoption program for dogs that come from the North East Georgia Animal Shelter.away

We encourage you to join us, and you can apply to volunteer by clicking on the "Apply to Volunteer" link below

https://www.harthumane.org/volunteer-donate

{% endblock %}