{% extends 'base.html' %}

{% block content %}
  <h2>This is the internal volunteers' portal for the Hart County Humane Society</h2>

<br>Hart County Humane Society is an all-volunteer organization with no paid employees

<br>Our mission is to make Hart and Franklin Counties "no-kill" counties for dogs and cats.

<br>We do this through our loc cost Spay/Neuter program, and by our adoption program for dogs that we rescue from the North East Georgia Animal Shelter

<br>We encourage you to join us, and you can apply to volunteer by clicking on the "Apply to Volunteer" link below

<br><button type="button" class="btn btn-primary" onclick="location.href='https://www.harthumane.org/volunteer-donate';" type=submit">Volunteer</button>

<br>
{% endblock %}
