{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% load %}
<body>
    <div class="container text-left">
        <div class="row align-items-left">
          <div class="col">
            <h3>Create a a New Role</h3>
            <p>Please enter a new role</p>
            <form method="post" action="/volunteer/define_roles/">
                {% csrf_token %}
                <table>
                {{ form|crispy }}
                </table>
                <button type="submit", name="save" class="btn btn-primary">Create New Role</button>
                <input type="button" onclick="location.href='/';" class="btn btn-primary" value="Return to Front Page" />
            </form>
          </div>
          <div class="col">
              
              {% comment %} Empty column for form spacing {% endcomment %}

          </div>
        </div>
    </div>
<div>

</body>

{% endblock %}
