{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

    <br>
    <h2>You are logged in!</h2>
    <br>
    <img src="/static/TeeChee_Graduate.jpg" alt="TeeChee Graduate">
    <br/>


{% else %}

    <h1>Hello Volunteers!</h1>
    <h2>Please Login</h2>

    <img src="/static/voluteers-needed.jpg" alt="Volunteers Needed">
    <br/>
    <br/>Would you like to volunteer at the Humane Society?
    <br> please click on the button below:
    <br> <br><button type="button" class="btn btn-primary" onclick="location.href='https://www.harthumane.org/volunteer-donate';" type=submit">Volunteer</button>


{% endif %}

{% endblock %}

  