{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<body>
    <div class="container text-left">
        <div class="row align-items-left">
          <div class="col">
            <h3>Update an Entry</h3>
            <h4>Please update the data for the volunteer {{ volunteer.first_name }} {{ volunteer.last_name }}</h4>
            <br/>
            <form method="post" action="/update/{{ volunteer.id }}/ ">
                {% csrf_token %}
                <table>
                {{ form|crispy }}
                </table>
                <br/>
                <button type="submit", name="save" class="btn btn-primary">Update This Entry</button>
                <input type="button" onclick="location.href='/browse_roster/';" class="btn btn-primary" value="Return to Roster" />
                
                <br/>
                <br/>
                <br/>  
                <input type="button" onclick="location.href='/delete_volunteer/{{ volunteer.id }}';" class="btn btn-danger" value="Delete Volunteer (irreversible)" />
                <br/>     
            </form>
            <br/>
            <a href="/">Return to the Front Page</a>
            <br/>
            <br/>
            Please make the entry inactive rather than deleting!
            <br/>
            </div>
          <div class="col">
               
              {% comment %} Empty column for form spacing {% endcomment %}

          </div>
        </div>
     <br/>
    
</body>
{% endblock %}
