{% extends "base.html" %}

{% block content %}
<h3>Update an Entry</h3>
<li>Please update the data for the volunteer {{ volunteer.first_name }} {{ volunteer.last_name }}</li>
<br/>
<form method="post" action="/volunteer/update/{{ volunteer.id }}/ ">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <br/>
    <button type="submit", name="save">Update This Entry</button>
    <input type="button" onclick="location.href='/browse_roster/';" value="Return to Roster" />

    
</form>
<br/>
<a href="/">Return to the Front Page</a>

{% endblock %}
